a {
  color: black; /* change la couleur du lien */
  font-size: 1em;
  text-decoration: none;
  font-family: "manrope", sans-serif;
}
.color {
  color: #A5B4FC;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 3.5em;
  color: #A5B4FC
}


p {
  font-family: "manrope", sans-serif;
  font-size: 1.1em;
}
.list {
  font-size: 1em;
  font-family: "manrope", sans-serif;
}