a {
  color: #242424; /* change la couleur du lien */
  font-size: 1em;
  text-decoration: none;
  font-family: "manrope", sans-serif;
}
em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-size: 3.5em;
  color: #A5B4FC
}
h2
{ color: #F9F8FF;

}


p {
  font-family: "manrope", sans-serif;
  font-size: 1.1em;
  color:#F9F8FF;
}
.list {
  font-size: 1em;
  font-family: "manrope", sans-serif;
  color: #F9F8FF;
  margin-top: 40px;

}
.entete, .piedpage
{background-color: white;

}
body
{background-color: #1F2039;
}
.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;

}
.brder
{ border-right: 1px solid #8e86b5;
  border: 1px solid #8e86b5 ;
  padding: 50px ;

}
a:hover
{ text-decoration: underline;

}
.cta:hover
{background: linear-gradient(#696484,#8788BA);
  text-decoration: none;

}
.lien-icone:hover
{opacity: 0.5;

}
.dim-header
{ padding: 20px 50px 20px 0px ;
  width: 100%;


}
.dim-footer
{ padding: 20px 50px 20px 0px ;
  width: 100%;


}
.dim-section
{ padding: 80px ;
  

}
.center
{ margin: auto;

}
section {
  padding: 80px;
}

.center {
  width: 50%;
  margin: auto;
}

